html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
  color: #111111;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
button {
  cursor: pointer;
}

/* #region Common  */
.ingridient,
.made,
.products,
.top-sellers,
.reviews {
  padding: 40px 0;
}
@media only screen and (min-width: 768px) {
  .ingridients,
  .made,
  .products,
  .top-sellers,
  .reviews {
    padding: 50px 0;
  } 
}
.section-title {
  max-width: 412px;
  padding-bottom: 32px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;

  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}
.section-title-accent {
  color: #fd9222;
}

@media only screen and (min-width: 768px) {
  .section-title {
    font-size: 24px;
    line-height: 117%;
    padding-bottom: 50px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* Mobile screen - base styles */

.containers {
  min-width: 320px;
  max-width: 375px;

  padding: 0 20px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .containers {
    max-width: 736px;
    padding: 0 16px;
  }
}

@media only screen and (min-width: 1168px) {
  .containers {
    max-width: 1168px;
  }
}

/* #endregion */

/* #region Header */
.header-container {
  display: flex;
  align-items: center;
}
.nav-heder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
@media only screen and (min-width: 768px) {
  .nav-heder {
    margin-right: 28px;
  }
}
@media only screen and (min-width: 1168px) {
  .nav-heder {
    margin-right: 90px;
  }
}

.logo-head {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
  padding: 20px 0;
}

@media only screen and (min-width: 1168px) {
  .logo {
    font-size: 18px;
  }
}

.navigation-list {
  display: none;
}

@media only screen and (min-width: 768px) {
  .navigation-list {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
@media only screen and (min-width: 1168px) {
  .navigation-list {
    gap: 24px;
  }
}

.navigation-link {
  position: relative;
  display: block;
  padding: 32px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  transition: 300ms ease-in;
  transition-property: color;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #fd9222;
}

.navigation-link.active::after {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #fd9222;
}

.social-list {
  display: none;
}
@media only screen and (min-width: 768px) {
  .social-list {
    display: flex;
    gap: 14px;
  }
}

.social-item {
  width: 40px;
  height: 40px;
}
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  transition: 300ms ease-in;
  transition-property: color, border-color;
}
.socials-link:hover,
.socials-link:focus {
  color: #fd9222;
  border-color: rgba(253, 146, 34, 0.1);
}

.socials-icon {
  width: 60%;
  height: 60%;
  fill: currentColor;
}
/* #endregion */

/* #region Button */
.btn {
  font-size: 14px;
  font-weight: 600;
  background: transparent;
  padding: 12px 28px;
  min-width: 120px;
  min-height: 41px;
  border-radius: 100px;
  border: 1px solid transparent;
}
@media only screen and (min-width: 768px) {
  .btn {
    padding: 14px 40px;
  }
}

.btn-buy {
  color: #fff;
  background: var(--orange, #fd9222);
  transition: 300ms ease-in;
  transition-property: color, background-color;
}
.btn-buy:hover,
.btn-buy:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}
.btn-made {
  color: #ffffff;
  border-color: #ffffff;
  transition: 300ms ease-in;
  transition-property: color, border-color;
}
.btn-made:hover,
.btn-made:focus {
  color: #fd9222;
  border-color: #fd9222;
}
.btn-review {
  color: #111;
  font-size: 18px;
  border-color: #fd9222;

  transition: 300ms ease-in;
  transition-property: color, background-color;
}
.btn-review:hover,
.btn-review:focus {
  color: #ffffff;
  background: #fd9222;
}

.scroll-down {
  display: inline-flex;
  align-items: center;
  gap: 14px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.03em;
  transition: 300ms ease-in;
  transition-property: color;
}
@media only screen and (min-width: 768px) {
  .scroll-down {
    margin-left: auto;
    font-weight: 500;
  }
}

.scroll-down:hover,
.scroll-down:focus {
  color: #fd9222;
}
.scroll-down:hover > .scroll-down-icon,
.scroll-down:focus > .scroll-down-icon {
  --color1: #fd9222;
  --color2: #fafafa;
}

/* #endregion */

/* #region Hero */
.hero {
  padding-bottom: 80px;
}

@media only screen and (min-width: 768px) and (max-width: 1167px) {
  .hero {
    padding-bottom: 40px;
  }
}

.hero-container {
  background-color: rgba(17, 17, 17, 0.4);
  padding: 395px 20px 20px;
  border-radius: 30px;
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url(../images/hero-bg_desk.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media only screen and (min-width: 768px) {
  .hero-container {
    padding: 761px 40px 40px;
  }
}
@media only screen and (min-width: 1168px) {
  .hero-container {
    padding-top: 381px;
  }
}

.hero-wraper {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 14px;
}

@media only screen and (min-width: 768px) {
  .hero-wraper {
    gap: 14px;
    margin-left: auto;
  }
}
.main-titel {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.03em;
  max-width: 484px;
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .main-titel {
    color: #fff;
    font-size: 28px;
    line-height: 1.21;
  }
}

/* #endregion  */

/* #region Benefits */

.benefits {
  background: #1e1823;
  padding: 20px 0;
}

@media only screen and (min-width: 768px) {
  .benefits {
    padding: 50px 0;
  }
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media only screen and (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 44px 88px;
  }
}
@media only screen and (min-width: 1168px) {
  .benefits-list {
    justify-content: center;
  }
}

.benefits-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin-bottom: 22px;
}

.benefits-item {
  max-width: 308px;
  position: relative;
}
@media only screen and (min-width: 1168px) {
  .benefits-item:not(:last-child):after {
    content: '';
    position: absolute;
    top: 50%;
    right: -45px;
    transform: translateY(-50%);
    display: block;
    width: 1px;
    height: 124px;
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.benefits-subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
  color: #fff;
  margin-bottom: 18px;
}
.benefits-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* #endregion */

/* #region Ingridients */
.ingridients {

}
.ingridients-list {
   gap: 32px;
}
@media only screen and (min-width: 768px){
  .ingridients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  } 
}
.ingridients-item {
  position: relative;
  padding: 28px 23px;
  border-radius: 15px;
  border: 1px solid #fd9222;
}
@media only screen and (min-width: 768px){
  .ingridients-item {
    width: calc((100% - 32px) / 2);
  }
}
@media only screen and (min-width: 1168px){
  .ingridients-item {
    width: calc((100% - 3 * 32px) / 4);
  }
}
.ingridients-item:nth-child(4n + 1) {
  background-color: #fd9222;
}
.ingridients-item:nth-child(4n + 3) {
  background-color: rgba(30, 24, 35, 1);
  border: 1px solid transparent;
}
.ingridients-item:nth-child(2n + 1){
  color: #ffffff;
  }

@media only screen and (max-width: 767px) {
  .ingridients-item:not(:last-child) {
    margin-bottom: 20px;
  }
}
.ingridient-img{
margin: 0 auto;
}
.ingridients-wrapper-icon {
  position: absolute;
  top: 14px;
  right: 14px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.ingridients-item:nth-child(even) .ingridients-icon {
  stroke: #fd9222; /* Помаранчевий для парних */
}
.ingridients-item:nth-child(odd) .ingridients-icon {
  stroke: #fafafa;
}
.ingridients-subtitle {
  margin-top: 36px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/* #endregion */

/* #region Made */

.made-wrapper {
  display: flex;
  gap: 20px;
}
.made-left-side {
  width: 600px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.made-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  border: none;
  background-color: transparent;
}

.made-right-side {
  width: 516px;
  padding: 32px;
  border-radius: 15px;
  background: #fff;
}

.made-subtitel {
  width: 350px;
  margin-bottom: 28px;
  font-size: 18px;
  line-height: 133%;
  color: #111;
}
.made-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.made-item {
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #111;
}

/* #endregion */

/* #region products */

.products-list {
}
@media only screen and (min-width: 768px) {
  .products-list {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    gap: 32px;
  }
}
@media only screen and (min-width: 1168px) {
  .products-list {
    gap: 24px 18px;
  }
}

.products-item {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  padding: 32px 20px;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 767px) {
  .products-item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media only screen and (min-width: 768px) {
  .products-item {
    width: calc((100% - 32px) / 2);
  }
}
@media only screen and (min-width: 1168px) {
  .products-item {
    width: calc((100% - 3 * 18px) / 4);
  }
}

.products-img {
  margin: 0 auto;
}
.products-wrapper {
  margin: 8px 0 18px;
  text-align: center;
}
.products-caption {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.products-type {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  margin-top: 2px;
}
.products-btn {
  font-size: 14px;
  font-weight: 600;
  color: #111;
  background: #fafafa;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: auto;
  width: 94px;
  height: 33px;
  display: block;
  margin: 0 auto;
}
/* #endregion */

/* #region top seller */
.top-sellers-list {
  display: flex;
  gap: 16px;
}

.top-sellers-item {
  width: calc((100% - 16px * 2) / 3);
}

.top-sellers-caption {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 0 0 15px 15px;
  background: #fff;
  padding: 28px;
  text-align: center;
}

.sellers-img {
  border-radius: 15px 15px 0 0;
}

.bestsellers-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  display: flex;
  align-items: center;

  top: 0;
  right: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding: 40px;

  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #fafafa;

  background: linear-gradient(
    165deg,
    rgba(253, 253, 255, 0.1) 3.97%,
    rgba(8, 2, 21, 0) 109.76%
  );
  backdrop-filter: blur(7.5px);
  border-radius: 15px 15px 0px 0px;

  transition: 300ms ease-in;
  transition-property: transform;
}

.top-sellers-item:hover .overlay {
  transform: translateY(0%);
}

/* #endregion */

/* #region reviews */

.reviews {
  padding-bottom: 120px;
}
.reviews-title {
  margin-bottom: 42px;
}
.reviews-list {
  display: flex;
  gap: 28px;
  margin-bottom: 50px;
}

.reviews-item {
  width: calc((100% - 2 * 28px) / 3);
  position: relative;
  padding: 56px 24px 24px;
  background: #fff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 10px 100px 0 rgba(17, 17, 17, 0.1);
}

.reviews-avatar {
  position: absolute;
  top: -42px;
  left: 50%;
  transform: translateX(-50%);
}
.reviews-author {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  text-align: center;
  margin-bottom: 24px;
}
.reviews-comment {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.btn-review {
  display: block;
  margin: 0 auto;
}
/* #endregion */
/* #region Footer */
.footer {
  background: #1e1823;
}

.wrap-footer-top {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
@media only screen and (min-width: 768px) {
  .wrap-footer-top {
    flex-direction: row;
    align-items: center;
  }
}

.footer-slogan {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.02em;
  width: 300px;
  line-height: 117%;
}

@media only screen and (min-width: 768px) {
  .footer-slogan {
    font-size: 28px;
    line-height: 1.21;
  }
}
.footer-slogan-accent {
  color: #fd9222;
}
.footer-socials {
  display: flex;
  gap: 14px;
}
.footer-socials .socials-link {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.1);

  transition: 300ms ease-in;
  transition-property: color, border-color;
}

.footer-socials .socials-link:hover,
.footer-socials .socials-link:focus {
  color: #fd9222;
  border-color: rgba(253, 146, 34, 0.1);
}

@media only screen and (min-width: 768px) {
  .wrap-social {
    margin-right: 40px;
    margin-left: auto;
  }
}

@media only screen and (min-width: 1168px) {
  .wrap-social {
    margin-right: 50px;
    margin-left: 474px;
  }
}

.footer-caption {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  width: 112px;
  margin-bottom: 14px;
}
.footer-contacts-link {
  color: #fff;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;

  transition: 300ms ease-in;
  transition-property: color;
}
.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: #fd9222;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .footer-nav {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 0px;
  }
}

.footer-nav-link {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  transition: 300ms ease-in;
  transition-property: color;
}

@media only screen and (min-width: 768px) {
  .footer-nav-link {
    padding: 18px 0;
  }
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  color: #fd9222;
}
.wrap-footer-bottom {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .wrap-footer-bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 50px;
  }
}

.footer-form-wrapper {
  display: flex;
  column-gap: 8px;
}

.footer-email-form {
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 14px 18px;
  max-width: 207px;
  height: 45px;
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .footer-email-form {
    padding: 14px 24px;
    max-width: 232px;
  }
}
@media only screen and (min-width: 1168px) {
  .footer-email-form {
    max-width: 313px;
    height: 52px;
  }
}

.footer-btn {
  background: #fd9222;
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  color: #fff;
  padding: 14px 26px;
}

@media only screen and (min-width: 1168px) {
  .footer-btn {
    padding: 17px 40px;
  }
}
/* #endregion */

/* #region Modal windows */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: 300ms ease-in-out;
  transition-property: opacity, visibility;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-70%);

  padding: 40px;
  border-radius: 15px;
  width: 517px;
  min-height: 794px;
  background-color: #fafafa;

  transition: 300ms ease-in-out;
  transition-property: transform;
}

.backdrop.is-open .modal {
  transform: translateX(-50%) translateY(-50%);
}
.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: transparent;
}
.modal-close-icon {
  stroke: rgba(17, 17, 17, 1);
}
.modal-caption {
  font-weight: 600;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 40px;
  width: 298px;
}
.accent {
  color: #fd9222;
}
.modal-form-field {
  margin-bottom: 18px;
}

.modal-form-label {
  display: block;
  margin-bottom: 8px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
.modal-form-wrapper {
  position: relative;
}
.modal-form-input {
  width: 100%;
  height: 68px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding: 22px 62px;
  outline: none;
  transition: 300ms ease-in-out;
  transition-property: border-color, box-shadow;
}

.modal-form-input:focus {
  border-color: #fd9222;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);

  pointer-events: none;
  stroke: black;
}

.modal-form-input:focus + .modal-icon {
  stroke: #fd9222;
}

.modal-form-message {
  width: 100%;
  height: 137px;
  padding: 22px 24px;
  outline: none;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  resize: none;

  font-size: 18px;
  line-height: normal;
  letter-spacing: -0.02em;
  transition: border-color 300ms ease-in-out, box-shadow 300ms ease-in-out;
}

.modal-form-message:focus {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  border-color: #fd9222;
}
.modal-form-message::placeholder {
  color: rgba(64, 64, 64, 0.3);
}

.modal-form-agreement-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
}
.modal-form-agreement {
  margin-bottom: 40px;
}

.modal-form-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;
  margin-right: 12px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  cursor: pointer;

  transition: 300ms ease-in-out;
  transition-property: background-color, border-color;
}

input[type='checkbox']:checked
  + .modal-form-agreement-text
  .modal-form-checkbox {
  background-color: #fd9222;
  border-color: #fd9222;
}

.modal-form-checkbox-icon {
  opacity: 0;
  transition: 300ms ease-in-out;
  transition-property: opacity;
}

input[type='checkbox']:checked
  + .modal-form-agreement-text
  .modal-form-checkbox
  .modal-form-checkbox-icon {
  opacity: 1;
}

input[type='checkbox']:focus-visible
  + .modal-form-agreement-text
  .modal-form-checkbox {
  outline: 2px solid #fd9222;
  outline-offset: 2px;
}

.modal-form-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fd9222;
}
/* Error handling */

.error-icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%) scale(0.2);

  opacity: 0;
  transition: 200ms;
}

.modal-form-input:not(:placeholder-shown):required:invalid {
  border-color: #e74a3b;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
}
.modal-form-input:not(:placeholder-shown):required:invalid ~ .error-icon {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}
/* #endregion */

/* #region Mobail menu */
.mobile-menu-btn {
  display: flex;
  padding: 0;
  border: none;
  background-color: transparent;
}
.icon-menu-btn {
  stroke: rgba(17, 17, 17, 1);
}
@media only screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}
.mobail-menu .mobile-menu-btn {
  margin-left: auto;
}
.mobile-close-icon {
  stroke-width: 2px;
  stroke: #fff;
}

.mobail-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  padding: 20px;
  background-color: #1e1823;

  transform: translateX(100%);
  transition: 300ms ease-in;
  transition-property: transform;
}

.mobail-menu.is-open {
  transform: translateX(0);
}
.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: auto;
  margin-top: 88px;

  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #fff;
}

.mobile-menu-socials {
  display: flex;
  gap: 14px;
}
.mobile-menu-socials .socials-link {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.1);

  transition: 300ms ease-in;
  transition-property: color, border-color;
}

.mobile-menu-socials .socials-link:hover,
.mobile-menu-socials.socials-link:focus {
  color: #fd9222;
  border-color: rgba(253, 146, 34, 0.1);
}
/* #endregion */
